@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Mountains+of+Christmas:wght@700&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("./pexels-giftpunditscom-1666068.jpg");
  background-size: 100% 100%; */
  background-color: red;
  color: white;
  font-family: "Mountains of Christmas", cursive;
  font-size: 100px;

  align-items: center;
  margin: 300px auto;
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
}

.time {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.out {
  display: flex;
  justify-content: center;
}
